{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>
        {% block title %}
            Group 123 Blog
        {% endblock %}
    </title>

    <link rel="icon" href="{% static "img/favicon.png" %}">

    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/style.css" %}" rel="stylesheet">
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'posts:index' %}">Blog</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">

                <li class="{% ifequal request.path '/posts/' %} active {% endifequal %}">
                    <a href="{% url 'posts:index' %}">All Posts</a>
                </li>

                <li class="{% ifequal request.path '/posts/new' %} active {% endifequal %}">
                    <a href="{% url 'posts:new' %}">New Posts</a>
                </li>

            </ul>
        </div>
    </div>
</nav>

<div class="container">

    <h1 class="page-header">
        {% block header %}
        {% endblock %}
    </h1>

    <!-- templates here -->
    {% block content %}
    {% endblock %}

</div>

<script src="{% static "js/jquery-2.1.4.min.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>

</body>

</html>